<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Log In | Sign Up </title>
    <link rel="stylesheet" href="style2.css">
</head>
<body>
    <div class="card">
        <div class="image-div">
            <button class="submit" id="logIn">Log-in</button>
        </div>
        <p>Or</p>
        <div class="data">
            <button class="submit" id="signUp">Sign-Up</button>
        </div>
      </div>
      <script src="index.js"></script>
</body>
</html>