<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Home Page </title>
  <link rel="stylesheet" href="style.css">
</head>
<body>
    <div class="card">
      <div class="image-div">
        <img src="<%= user.imgUrl %>" >
      </div>
      <div class="data">
        <div class="mainContent">
          <h2 class="top"><%= user.name %></h2>
          <h2><%= user.username %></h2>
          <% if(user.googleId !== undefined){ %>
            <h4>Your Google Id : <%= user.googleId %></h4>
          <% } %>
          <form action="/logout" method="post">
            <button class="submit">Log-out</button>
          </form>
          
        </div>
        
      </div>
    </div>
    
</body>
</html>
